@import "node_modules/vanilla-framework";

.card {
  border-top: 3px solid #a87ca0;
  height: 100%;

  .header {
    padding: 1rem 1rem 0.5rem;
    border-bottom: 0;

    h5 {
      font-weight: 300;
    }
  }

  .content {
    border-top: 1px dotted $color-mid-light;
    border-bottom: 1px dotted $color-mid-light;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
    height: calc(100% - 90px);

    .title {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  .footer {
    padding: 0.7rem 0.7rem 0.7rem 1rem;
  }
}

.transparent {
  opacity: 0;
}
