.card {
  border-top: 3px solid #a87ca0;
  padding: 0;
  height: 100%;
}

.header {
  padding: 1rem 1rem 0.5rem;
  border-bottom: 0;
}

.header h5 {
  font-weight: 300;
}

.title {
  font-size: 1.306122449rem;
  font-weight: 300;
}

.footer {
  padding: 1rem 1rem 0.5rem;
}

.content {
  border-top: 1px dotted #d9d9d9;
  border-bottom: 1px dotted #d9d9d9;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  padding: 1rem 0.5rem 0.5rem;
  height: calc(100% - 100px);
}

.transparent {
  opacity: 0;
}

.titleContainer {
  height: 100%;
  display: flex;
  align-items: end;
}
